<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css">
    <title>Document</title>
</head>
<body>
  
  
    <form  id = form>
    <h1> Bienvenido paltaforma educativa</h1>

    <h3>Por favor selecione una de las opciones</h3>
        
 
        <button type="button" id="registerCourse">Registrar Curso</button>
        <button type="button" id="registerStudent">Registrar Estudiante</button>
        <button type="button" id="registerInstructor">Registrar Instructor</button>
    </form>
    <script src="../interactive/services/homeEvent.js" ></script>
</body>
</html>