<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/instrcutor.css">
  <title>Registrar Instructor</title>
</head>
<body>
  <section>
    <form id="FormInstructor">
      <h1>Registrar Instructor</h1>
      <img src="../imagen/instructor.png" alt="imagen">
      <label for="name">Nombre</label>
      <input type="text" id="name" required>
      <label for="lastname">Apellido</label>
      <input type="text" id="lastname" required>
      <label for="cursos">Curso que va a dictar</label>
      <input type="text" id="cursos" required> <!-- Cambiado el ID de este campo -->
      <button type="submit">Registrar</button>
      
    </form>

 
  
  <section>
    <!-- Agrega el event listener para mostrar la lista de cursos -->
    <button id="mostrarCursosButton">Mostrar Lista de Cursos</button>
    <ul id="listaCursos"></ul>

  </section>

  <section>
    <h1>Lista de Instructores</h1>
    <div id="output"></div> <!-- Selecciona otro ID para evitar duplicados -->

  </section>
</section>
  <!-- Importa el archivo JavaScript -->
  <script type="module" src="../service/instructoregister.js"></script>
</body>
</html>
