body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #4181e2, #9b3fd5);

}
button {
    padding: 10px 15px;
    background-color: #6b4caf;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #26201e;
}

form {
    display: flex;
    flex-direction: column; /* Coloca los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 10px; /* Espacio entre los elementos */
    padding: 20px;
    background: #ffffff26;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button{
    width: 100%;
}